.Header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: #1e1e1e;
    align-items: center;
}

.leftHeader {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rightHeader {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.logo {
    width:auto;
    height: 100px;
}

.man {
    width: auto;
    height: 60px;
    margin-left: 5px;
    margin-right: 10px;
}

.pd {
    color: #e14141;
}

.auto {
    color: #4169e1;
    margin-left: 10px;
}

.name {
    margin-left: 5px;
}