/* Form.css */

.form-container {
  max-width: 47rem;
  margin: 0 auto;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label{
 

}

.form-columns {
  display: flex;
  gap: 20px;
}

.form-column {
  flex: 1;
}

input ,textarea{
  width: 25em;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: right;
  align-items: right;
}

