.searchbar{
    display: flex;
    height: 50px;
    justify-content: center;
}

.searchbar input {
    width: 500px;
    font-size: 17px;
    border-radius: 0px;
    border: 1px solid #555;
    padding: 10px;
}

.searchbar button{
    width: 150px;
    font-size: 17px;
    border-radius: 0px;
    background-color: #e14141;
    border: none;
    color: white;
}