.FilterProduct{
    position: absolute;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.category-select{
    display: flex;
    gap: 10px;
}

.brand-select{
    display: flex;
    gap: 10px;
}

.Filterbtn{
    background-color: #e14141;
    width: 150px;
    font-size: 15px;
    border: none;
    color: white;   
}