.scroll{
    overflow: auto;
    height: 700px;
    width: auto;

}
.booking{
    display: flex;
    flex-direction: column;
    max-width: 79em;
    width: 100%;
    margin: 0 auto;
    padding-right: 1em;
}    
.tblContainer{
    height: 100%;
    margin: 0.2em;
    padding: 1em;
    padding-top: 0.2em;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 10px;

}
/* Style for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }
  
  /* Style for table header */
  th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left ;
  }
  
  /* Style for table data */
  td {
    border: 1px solid #ddd;
    padding: 7px;
  }
  
  .view{
    background-color: #005D84;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
  }
  /* Style for table actions */
 .accept {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
  }

  .delete {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  td button:hover {
    background-color: #030303;
  }
  
  /* Style for Add Row button */
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .line-one{
    display: flex;
    justify-content: left;
    margin-bottom: 0.1em;
  }
  .gReportbtn{
    background-color: #005D84;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
    font-weight: bold;
    margin-left: 43rem;
  }
  .myselect{
    background-color: #b12525;
    color: white;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold;
    height: 2.5rem;
    width: 8rem;
    border-radius: 5px;
    text-align: center;
    
  }