.searchbar{
    display: flex;
    height: 60px;
    justify-content: center;
}

.searchbar input {
    width: 500px;
    height: 34px;
    font-size: 22px;
    border-radius: 0px;
}

.searchbar button{
    width: 150px;
    font-size: 22px;
    border-radius: 0px;
    background-color: #e14141;
}